In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Awbari,LY,2019-11-06 06:10:33,26.59,12.77,69.49,28,0,12.44
1,1,Mataura,NZ,2019-11-06 06:10:33,-46.19,168.86,59.00,74,61,8.99
2,2,Axim,GH,2019-11-06 06:10:33,4.87,-2.24,74.05,94,0,0.65
3,3,Umea,SE,2019-11-06 06:10:33,63.83,20.26,21.20,79,85,6.93
4,4,Praia Da Vitoria,PT,2019-11-06 06:10:34,38.73,-27.07,60.80,77,75,6.29
...,...,...,...,...,...,...,...,...,...,...
562,562,Yanagawa,JP,2019-11-06 06:12:55,33.16,130.41,70.00,49,20,6.93
563,563,Misratah,LY,2019-11-06 06:12:56,32.38,15.09,73.96,48,0,12.59
564,564,San Juan Del Sur,NI,2019-11-06 06:12:56,11.25,-85.87,81.59,77,0,25.95
565,565,Shenkursk,RU,2019-11-06 06:12:56,62.11,42.91,23.74,72,100,8.57
566,566,Sedhiou,SN,2019-11-06 06:12:56,12.71,-15.56,75.04,75,14,2.75

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp]) #[max(0,temp) for temp in max_temp])
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent Cloud
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Rikitea,PF,2019-11-06 06:10:34,-23.12,-134.97,76.55,82,50,4.45
8,8,Butaritari,KI,2019-11-06 06:10:34,3.07,172.79,84.76,72,82,9.53
13,13,Bambous Virieux,MU,2019-11-06 06:10:36,-20.34,57.76,81.00,74,75,6.93
14,14,Vaini,IN,2019-11-06 06:10:36,15.34,74.49,82.40,58,40,5.82
23,23,Bathsheba,BB,2019-11-06 06:10:38,13.22,-59.52,82.40,78,40,19.46
30,30,Cap Malheureux,MU,2019-11-06 06:10:40,-19.98,57.61,81.00,74,75,6.93
33,33,Bluff,AU,2019-11-06 06:10:40,-23.58,149.07,86.27,12,57,2.86
35,35,Kuruman,ZA,2019-11-06 06:10:41,-27.46,23.43,79.00,38,54,4.00
39,39,Alenquer,BR,2019-11-06 06:10:41,-1.95,-54.74,77.00,88,48,3.36
44,44,Airai,TL,2019-11-06 06:10:43,-8.93,125.41,78.85,51,40,8.08

In [13]:
preferred_cities_df.count()

City_ID       146
City          146
Country       146
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

In [16]:
#6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
6           Rikitea      PF     76.55 -23.12 -134.97
8        Butaritari      KI     84.76   3.07  172.79
13  Bambous Virieux      MU     81.00 -20.34   57.76
14            Vaini      IN     82.40  15.34   74.49
23        Bathsheba      BB     82.40  13.22  -59.52
30   Cap Malheureux      MU     81.00 -19.98   57.61
33            Bluff      AU     86.27 -23.58  149.07
35          Kuruman      ZA     79.00 -27.46   23.43
39         Alenquer      BR     77.00  -1.95  -54.74
44            Airai      TL     78.85  -8.93  125.41

In [18]:
params = {"radius": 5000, "type": "lodging", "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [19]:
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng               Hotel Name
6           Rikitea      PF     76.55 -23.12 -134.97           Pension Maro'i
8        Butaritari      KI     84.76   3.07  172.79       Isles Sunset Lodge
13  Bambous Virieux      MU     81.00 -20.34   57.76           Casa Tia Villa
14            Vaini      IN     82.40  15.34   74.49      Dandeli Lake County
23        Bathsheba      BB     82.40  13.22  -59.52           Atlantis Hotel
30   Cap Malheureux      MU     81.00 -19.98   57.61    Pereybere Hotel & Spa
33            Bluff      AU     86.27 -23.58  149.07              Bluff Hotel
35          Kuruman      ZA     79.00 -27.46   23.43  Cornerstone Guest House
39         Alenquer      BR     77.00  -1.95  -54.74            Detinha Hotel
44            Airai      TL     78.85  -8.93  125.41           Juvinal Martin

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,\
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))